
02_Neural_Network/.ipynb_checkpoints/NN-checkpoint.ipynb
02_Neural_Network/.ipynb_checkpoints/Neural_Network-checkpoint.ipynb
02_Neural_Network/.ipynb_checkpoints/NN-checkpoint.ipynb
02_Neural_Network/.DS_Store
